<a href="https://colab.research.google.com/github/sanjeetsingh86/sanjeetsingh86/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

Enter value of A: 12
Enter value of B: 14

In [2]:
print(type(A), type(B))

<class 'str'> <class 'str'>

In [4]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

Enter value of A: 12
Enter value of B: 14

In [5]:
print(f"Sum of A and B is: {A+B}")

Sum of A and B is: 26

In [6]:
A = float(input("Enter value of A: "))
B = float(input("Enter value of B: "))

Enter value of A: 12.3
Enter value of B: 13.4

In [8]:
# TYPE CONVERSION
# we can convert the data type of one variable into another if it is
# Strint to integer
A="50"
print(f"data type before: {type(A)}")
int(A)
print(f"data type before: {type(A)}")

data type before: <class 'str'>
data type before: <class 'str'>