<a href="https://colab.research.google.com/github/sanjeetsingh86/sanjeetsingh86/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 122%2
 123 * 245

30135

In [ ]:
print ("result")

result

In [ ]:
print(123*245)
print("Result")

30135
Result

In [ ]:
# Variables in python

In [ ]:
x=10
print(x)

10

In [ ]:
y=20
print(y)

20

In [ ]:
print(x+y)

30

In [ ]:
print(x/y)

0.5

In [ ]:
1- Variable names should start with alphabet
2- Variable names should not contain any special charaters like ^%$!@#*( )
3-Variable names can contain no but you canot start with numbers.
4- Its not a strict rule that you should variable names a capital letter. But its recommended to use small letter for the variables.

SyntaxError: ignored

In [ ]:
import types
#Fundamentel data type

In [ ]:
# Integers - The number which does not contain decimal.

In [ ]:
a=7
type(a)

int

In [ ]:
b=7777
type(b)

int

In [ ]:
## floats-numbers containing decimal numbers

In [ ]:
pi=3.14
type(pi)

float

In [ ]:
x = 2
type(x)

int

In [ ]:
pi=22/7
pi

3.142857142857143

In [ ]:
type(pi)

float

In [ ]:
#complex numbers

In [ ]:
a = 2+2j
print(a)

(2+2j)

In [ ]:
type(a)

complex

In [ ]:
a.real

2.0

In [ ]:
a.imag

2.0

In [ ]:
#Dynamic typing

In [ ]:
int a = 22;

SyntaxError: ignored

In [ ]:
1 a=22
2 print(type(a))
3 a=22.2
4 print(type(a))

SyntaxError: ignored

In [ ]:
a=22
print(type(a))

<class 'int'>

In [ ]:
a=22.2
print(type(a))

<class 'float'>

In [ ]:
a="sunny"

In [ ]:
print(a)

sunny

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
#Strong typing

In [ ]:
"day" + 1

TypeError: ignored

In [ ]:
"day" + "1"

'day1'

In [ ]:
"22" + "22"

'2222'

In [ ]:
"sunny" + "chandra"

'sunnychandra'

In [ ]:
a = 1 # int data type
b = 1.2 #float data
c = "sunny" # string data type
f = 1 + 2j # complex data type

In [ ]:
print("Hi welcome to class of python language")

Hi welcome to class of python language

In [ ]:
language = "Python"
print("Hi welcome to class of "+language+"language")

Hi welcome to class of Pythonlanguage

In [ ]:
language="Javascript"
print(f"Hi welcome to class of {language} language")

Hi welcome to class of Javascript language

In [ ]:
a = 1 # int data type
b = 1.2 # float data type
c = "sanju" # string
f = 1+2j # complex data type # rarely used

In [ ]:
print ("Hi welcome to class of python language")

Hi welcome to class of python language

In [ ]:
print ("Hi welcome to class of java language")

Hi welcome to class of java language

In [ ]:
language = "Python"
print("Hi welcome of class of " + language + " language")

Hi welcome of class of Python language

In [ ]:
language= "Javascript"
print(f"Hi welcome to class of {language} language")

Hi welcome to class of Javascript language

In [ ]:
# f -> farmated string method
num = "first"
language = "Python"
print("Today is the {} class of {} language" .format(num, language))

Today is the first class of Python language

In [ ]:
a=22
b=34
c=a+b
print(f"the result of sum of two nums a: {a} and b: {b} is ={c}")

the result of sum of two nums a: 22 and b: 34 is =56

In [ ]:
#Boolean data type
#True and false
One = True
Two = False

In [ ]:
num = "first"
language = "Python"
print("Today is the {} class of {} language" .format(num,language))

Today is the first class of Python language

In [ ]:
num = "first"
language = "Python"
print("Today is the {} class of {} language" .format(num, language))

Today is the first class of Python language

In [ ]:
num = "first"
language = "Python"
print("Today is the {"+num+"} class of "+language+" language")

Today is the {first} class of Python language

In [ ]:
a=22
b=34
c=a+b
print(f"the result sum of two a:{a} and b: {b} is ={c}")

the result sum of two a:22 and b: 34 is =56

In [ ]:
one = True
two = False
print(type(one))

<class 'bool'>

In [ ]:
class_starts_at = 6
you_came_at = 5
you_understand_all_concepts = you_came_at > class_starts_at

print(f"you understood everything?:{you_understand_all_concepts}")

you understood everything?:False

In [ ]:
"""
hi there is some one
this ot good
as far as
"""

'\nhi there is some one\nthis ot good\nas far as\n'

In [ ]:
12+21

33

In [ ]:
123/23

5.3478260869565215

In [ ]:
(-123)**2

15129

In [ ]:
123%2 # module operator which gives you reminder

1

In [ ]:
__num = 10 # hidden variable

In [ ]:
Ten = 10
ten number = 10

SyntaxError: ignored

In [ ]:
a=7
type(a)

int

In [ ]:
b=77777
type(b)

int

In [ ]:
pi = 3.12
type(pi)

float

In [ ]:
a=2+3j
type(a)

complex

In [ ]:
a = 22
print(type(a))
a = 22.2
print (type(a))
a = "sunny"
print (type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#multi assignment of variables

In [ ]:
a, b, c = 10, 20, "sunny"
type(a)

int

In [ ]:
type(c)

str

In [ ]:
a=b=c=10
a,b,c

(10, 10, 10)

In [ ]:
#Note: before can i use ? please try in colab or jupitar notebook once
# USER INPUT

name = input("Enter your Name: ")
print(f"you have entered: {name}")

Enter your Name: 12334
you have entered: 12334

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")
print(f"Sum of A and B is: {A+B}")

In [ ]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(type(A), tupe(B))

In [1]:
A = input("Enter value of A:")
B = input("Enter value of B:")

Enter value of A:123
Enter value of B:124

In [ ]:
name = input("Enter your name: {name}")
print(f"you have entered: {name}")